@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

:root {
  /* color */
  --blue-100: hsl(195, 74%, 62%);
  --blue-200: hsl(236, 100%, 87%);
  --blue-300: hsl(235, 45%, 61%);
  --blue-400: hsl(246, 80%, 60%);
  --blue-500: hsl(235, 46%, 20%);
  --blue-600: hsl(226, 43%, 10%);
  --red-100: hsl(15, 100%, 70%);
  --red-200: hsl(348, 100%, 68%);
  --green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --orange: hsl(43, 84%, 65%);
  /* font */
  --family: "Rubik", sans-serif;
  --fs-base: 18px;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 500;
  /* borders */
  --radii: 1rem;
  --radii-full: 50%;
}

body {
  margin: 0;
  background-color: var(--blue-600);
  font-family: var(--family);
  font-size: var(--fs-base);
  color: white;
}

.dashboard {
  min-height: 100vh;
  padding: 4rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(300px, 330px));
}
.dashboard__content__person {
  width: 100%;
  background-color: var(--blue-500);
  border-radius: var(--radii);
}
.dashboard__content__item {
  width: 100%;
  padding-top: 2.15rem;
  background-color: aliceblue;
  border-radius: var(--radii);
  background-repeat: no-repeat;
  background-position: 92% -2%;
}
.dashboard__content__item--work {
  background-color: var(--red-100);
  background-image: url(/images/icon-work.svg);
}
.dashboard__content__item--play {
  background-color: var(--blue-100);
  background-image: url(/images/icon-play.svg);
}
.dashboard__content__item--self-care {
  background-color: var(--orange);
  background-image: url(/images/icon-self-care.svg);
}
.dashboard__content__item--social {
  background-color: var(--violet);
  background-image: url(/images/icon-social.svg);
}
.dashboard__content__item--study {
  background-color: var(--red-200);
  background-image: url(/images/icon-study.svg);
}
.dashboard__content__item--exercise {
  background-color: var(--green);
  background-image: url(/images/icon-exercise.svg);
}
.dashboard-infocard {
  background-color: var(--blue-400);
  border-radius: var(--radii);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dashboard-infocard__photo {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: var(--radii-full);
}
.dashboard-infocard__text .subtitle {
  font-weight: var(--weight-light);
  margin: 0;
  font-size: 12px;
}
.dashboard-infocard__text .title {
  font-weight: var(--weight-light);
  margin: 0.5rem 0 0;
}
.dashboard-view-selector {
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-view-selector__item {
  font-size: 12px;
  color: var(--blue-200);
  cursor: pointer;
}
.dashboard-view-selector__item:hover, .dashboard-view-selector__item--active {
  color: white;
}
.dashboard .tracking-card {
  background-color: var(--blue-500);
  border-radius: var(--radii);
  padding: 1.25rem;
  position: relative;
  bottom: -2px;
  transition: background 0.3s;
}
.dashboard .tracking-card:hover {
  background: var(--blue-400);
}
.dashboard .tracking-card__header {
  margin-bottom: 1rem;
}
.dashboard .tracking-card__header-title {
  margin: 0;
  font-weight: var(--weight-normal);
  font-size: var(--fs-base);
}
.dashboard .tracking-card__header-menu {
  cursor: pointer;
}
.dashboard .tracking-card__body-current-time {
  font-size: 32px;
  font-weight: var(--weight-light);
}
.dashboard .tracking-card__body-pre-period {
  font-weight: var(--weight-light);
  font-size: 12px;
  color: var(--blue-200);
}
.dashboard .tracking-card__header, .dashboard .tracking-card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .dashboard__content {
    grid-template-columns: repeat(4, 1fr);
  }
  .dashboard__content__person {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .dashboard-infocard {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .dashboard-infocard__photo {
    margin-bottom: 1.5rem;
  }
  .dashboard-infocard__text .title {
    font-size: 30px;
  }
  .dashboard-view-selector {
    flex-direction: column;
  }
  .dashboard-view-selector__item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .dashboard .tracking-card__header {
    margin-bottom: 0.75rem;
  }
  .dashboard .tracking-card__body {
    flex-direction: column;
    align-items: flex-start;
  }
  .dashboard .tracking-card__body-current-time {
    margin-bottom: 0.75rem;
    font-size: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
